/* Charcoal: 373f47 */
/* Light brown: 8B8982 */
/* Light blue: 6c91c2 */
/* Light purple: c3c9e9 */
/* Purply gray: aaabbc */

body {
	font-family: Helvetica, Arial;
        background-color: #373F47;
	color: #c3c9e9;
	margin-top: 100px;
	width: 50%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #c3c9e9;
}

a:hover {
    color: #88899a;
    transition: .4s;
}

h1, h2 {
    color: #6c91c2;
}
