@font-face {
    font-family: "Rubik";
    src: url('../fonts/Rubik-Regular.ttf'),
    src: url('../fonts/Rubik-Bold.ttf'),
    src: url('../fonts/Rubik-Italic.ttf'),
    src: url('../fonts/Rubik-BoldItalic.ttf')
}

@font-face {
    font-family: "RubikMed";
    src: url('../fonts/Rubik-Medium.ttf'),
}

@font-face {
    font-family: "RubikMono";
    src: url('../fonts/RubikMonoOne-Regular.ttf'),
}

body {
	font-family: "RubikMed", Arial;
    background-color: #37c0d4;
    color: #f7f5d4;
	margin-top: 100px;
	width: 50%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	font-size: 20px;
}

a {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    color: #f7f5d4;
}

a:hover {
    color: #faa819;
    transition: .4s;
}

b {
    color: #F9CF77;
}

h1, h2 {
    color: #f00000;
    text-shadow: 4px 4px #faa819;
    font-family: "RubikMono", Arial;
}
